include header
include header-nav-panel
section(class="product_page_detail")
    each value, index in product
        div(class="container prod_page")
            div(class="imagery")    
                img(src="/img/"+value["product_image"] alt="" class="product_page_img")
            div(class="detail")    
                h1= value["product_model"]
                h2 Характеристики  
                div(class="product_page_options")    
                    div(class="options_wrap")
                        div Гарантия
                            h3= value["product_warranty"]
                        div Мощность нагревательного елемента    
                            h3= value["product_heatingPower"]
                        div Тип нагревательного елемента    
                            h3= value["product_heatingType"]
                        div Габариты
                            h3= value["product_dimensions"]
                div(class="product_page_links")
                    a(href='#')
                        i(class="fas fa-shopping-cart submit")        